<div class="wrapper">
  <div class="bag">
    <div class="titlearea">
    <div class="open-font">
      <h4>Quelle est la question ?</h4>
    </div>
    </div>
    <div class="formarea">
    <div class="question-form">
      <%= simple_form_for @tirage, url: tirages_path do |f| %>
      <%= f.text_area :question, label: false, placeholder: "I...", id: "question-form" %>
      <!-- <div class="post-creation-buttons"> -->
        <%#= f.submit 'Preview',  class: "btn-karma" %>
    </div>
    </div>
    <div class="buttonarea">
      <%= f.submit 'ok', class: "normal-btn" %>
      </div>
      <!-- </div> -->
      <% end %>
  </div>
</div>
