// Specific CSS for your home-page
.homepage {
  background-color: white;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  min-height: 91vh;
}

.bag {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  min-height: 91vh;
}
