// Specific CSS for your home-page
.homepage {
  background-color: white;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  min-height: 91vh;
}

.bag {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  min-height: 91vh;
}

.white-bubble {
  background-color: white;
  border-radius: 10px;
  margin: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  // align-items: center;
  align-items: stretch;
  min-height: 85vh;
}
