<div class="wrapper homepage" style="background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.4)), url(<%= image_path 'homepage.jpg'%>);">
<div class="large-btn">Nouveau</br> tirage</div>
</div>
