.large-btn {
  background-color: rgba(255,255,255,0.65);
  padding: 60px 50px;
  font-family: Righteous;
  color: $maintitles;
  font-size: 20px;
  border: 0.5px solid rgba(86,86,86,0.6);
  border-radius: 3px;
  text-align: center;
}

.normal-btn {
  border: 0.5px solid $maintitles;
  border-radius: 3px;
  padding: 10px 30px;
  background-color: #F8F8F8;
  font-family: Righteous;
  color: $maintitles;
}
