.maintitle {
  display: flex;
  justify-content: center;
  color: $maintitles;
  h4 {
    font-size: 20px;
  }
}

.open-font {
  margin: 10px;
  h4 {
  color: $maintitles;
  opacity: 0.8;
  font-family: "Open Sans";
  font-size: 20px;
  }
}
